body {
    background-image: url(/IMG/fondo\ login.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.caja {
 position: absolute;
 top: 1px;
 left: 510px;
 width: 490px;
 height: 780px;
 background-color: #36393F;
 border-radius: 10px;
 padding-top: 22px;
}

#titulo {
     position: absolute;
     left: 100px;
     color: white;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.from {
    position: absolute;
    top: 120px;
    left: 9%;
}

label {
    color: white;
    font-family:cursive ;
    
}

label, input {
  display: block;
  margin: 2px;
  color: white;
  font-size: larger;
}

input {
    width: 400px;
    height: 49px;
    border-radius: 10px;
    background-color:  rgb(41, 39, 39);
    border-color: #272728;
    border: none;
}   




#dob-day,
#dob-month,
#dob-year {
    position: relative;
    left: -2px;
    height: 49px;
    margin: 4px;
    border-radius: 10px;
    width: 119px;   
    color: white;
    background-color: #272728;
    font-size: 20px;
    cursor: pointer;
     outline: none;
     border-color: #272728;
     border: none;
}

.fechas {
    display: flex;
    margin-top: -20px;
}


#send{
    position: relative;
    width:55cqb;
    padding: 13px;
    border-radius: 10px;
    top: 135px;
    cursor: pointer ;
    background-color: #5070e4;
    border: none;
    font-size: 16px;
    color: white    ;
}
#send:hover{
    background-color: #677BC4;
}   

