body{
    background-color: #2f3136;
    margin: 0%;
    display: flex;
    overflow: hidden;
    height: 100vh;
}
.barra_friends{
    display: flex;
    justify-content: center;
    background-color: rgb(51, 51, 51);
    margin: 0;
    width: 95em;
    color: white;
    background-size: cover;
    padding: 3px;
}
.barra{
    display: flex;
}

.fotos_discord{
    width: 50px;
    transform: translate(12px, 18px);
    border-radius: 15px;
    flex-direction: column;
}   

#todos_informacion{
    position: absolute;
    margin-top: -52px;
    left: 110px;
    width: 350px; 
    height: 100%;
    background-color: rgb(51, 51, 51);
}


#comversacion{
    position: absolute;
    margin-top:10px;
    border: none;
    border-radius: 12px;
    background-color: #35363a;
    color: white;
    width: 348px;
    padding: 10px;
    cursor: pointer;
}





.diseno_enlazados {
    display: flex;
    text-decoration: none;
    color: #8e9297;       
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
}


